# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/GeoAlg.sln
*.db
*.opendb
*.vcxproj
*.filters
*.user
/build
/.vs/GeoAlg/v14
/build/VS2015
/src/core/GeoAlgConfig.h
/src/core/port.h
